body{
	font-size: 16px;
	color: #000;
	background-color: orange;
	font-family: 'Oxygen', sans-serif;
	padding-top: 20px;
}

/**HEADER**/
#header-nav{
	background-color: #fff;
	border-radius: 0;
	border: 0;
}

.navbar-brand{

}

.navbar-brand h1{ /*Restaurant Name*/
	font-family: 'Lora', serif;
	color: #000;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a{
	color: #951C49;
	text-align: center;
}

#nav-list a:hover{
	background: #E7E7E7;
}

#nav-list a span{
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navba-header .iconbar{
	border: 1px solid #61122f
}

.navbar-header button.navbar-toggle{
	/**clear: both;**/
	margin-top: 10px;
}
/** END HEADER **/

#main-content > h1 {
	padding-bottom: 20px;
}

#main-tile{
	height: 1000px;
	width: 100%;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	border: 2px solid #fff;
	overflow: hidden;
}

#main-tile{
	/**background: url('../images/menu-tile.jpg') no-repeat;
	background-position: center;**/
	background-color: #fff;
}

#menu-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	font-size: 1.6em; /**60% larger than orig**/
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .8;
	text-align: center
}

.menu-item-tile{
	margin-bottom: 25px;
}

.menu-item-tile hr{
	width: 80%;
}


/** MD Devices **/
@media (min-width: 992px) and (max-width: 1199px){

}

/** SM Devices **/
@media (min-width: 768px) and (max-width: 991px){

}

/** XS Devices **/
@media (max-width: 767px){

	#collapsable-nav a{
		font-size: 1.2em;
	}

	#collapsable-nav a span{
		font-size: 1em;
		margin-right: 5px;
	}

	#main-tile{
		width: 360px;
		margin: 0 auto 15px;
	}

}


/**Super small devices**/
@media (max-width: 479px){
	.navbar-brand h1{
		padding-top: 5px;
		font-size: 6vw;
	}
	#menu-tile {
		width: 280px;
		margin: 0 auto 15px;
	}

	.col-xxs-12{
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%;
	}
}





